*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ----------------------------- root variables ----------------------------- */

:root {
  --midnight-blue: #22223b;
  --transparent-purple: #4a4e69;
  --cream-purple: #9a8c98;
  --dark-cream: #c9ada7;
  --light-cream: #f2e9e4;
  --off-white: #f0f2f5;
  --grey: #dadcdf;
  --card-radius: 10px;
  --input-radius: 5px;
  --box-shadow-settings: rgba(0, 0, 0, 0.15) 0px 4px 5px 0px;
  --hover-transition: 0.5s;
}

/* -------------------------- general page settings ------------------------- */

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--light-cream);
  font-family: "Inter", sans-serif;
  color: var(--midnight-blue);
}

/* ---------------------------- wrapper settings ---------------------------- */

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* ----------------------------- header settings ---------------------------- */

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-content {
  margin: 0px 0 2px 0;
  width: fit-content;
}

.title-footer {
  text-align: center;
}

.title-footer::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--cream-purple);
  height: 2px;
}

/* ---------------------- generated password container ---------------------- */

.generated-password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --------------------------- password output box -------------------------- */

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 90%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* -------------------------------- copy icon ------------------------------- */

.fa-copy:hover {
  color: var(--transparent-purple);
  transition: all 0.5s;
  cursor: pointer;
}

/* copy-icon phone settings */

@media (max-width: 500px) {
  .fa-copy {
    margin-left: 10px;
  }
}

/* ----------------------- password settings main body ---------------------- */
.card {
  background-color: var(--dark-cream);
  border-radius: var(--card-radius);
  border-width: 1px;
  box-shadow: var(--box-shadow-settings);
  font-size: 18px;
  margin: 20px auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--cream-purple);
  height: 2px;
}

#password-generator-form {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------- length input container ------------------------- */

.length-input-container {
  display: flex;
}

/* --------------------------- length number input -------------------------- */

#length-number-input {
  width: 60px;
}

/* --------------------------- length slider input -------------------------- */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  margin-left: 2rem;
  padding-right: 2rem;
}

/* slider track styling */
/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--grey);
  height: 0.5rem;
  width: 100%;
  border-radius: var(--card-radius);
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: var(--grey);
  height: 0.5rem;
  border-radius: var(--card-radius);
}

/* Slider thumb Styles */
/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: var(--midnight-blue);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: var(--midnight-blue);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

/* ---------------- phone and tablet settings main card body ---------------- */

@media (max-width: 675px) {
  #password-generator-form {
    flex-direction: column;
    justify-content: space-between;
  }

  /* password length sliders and */
  .password-length-container {
    margin-bottom: 20px;
  }

  /* Password characteristics */
  .password-characteristics-container {
    margin-bottom: 20px;
  }
}

/* --------- phone and tablet settings for password length settings --------- */

@media (max-width: 460px) {
  .password-length-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* changed to flex column so that password length will fit */
  .length-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  /* margin and padding changed for length slider */
  #length-slider-input {
    margin-left: 0px;
    margin-top: 30px;
    padding: 0;
  }
}

/* --------------------------- password attributes -------------------------- */

.password-checkboxes-container {
  display: flex;
  align-items: center;
  height: 35px;
}

.characteristic-description {
  margin-left: 1rem;
}

/* ---------------------------- main card footer ---------------------------- */

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--cream-purple);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* ----------------------------- generate button ---------------------------- */

.btn {
  border: none;
  background-color: var(--midnight-blue);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: var(--off-white);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  transition: all var(--hover-transition);
  color: var(--midnight-blue);
  background: var(--off-white);
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

/* -------------------- phone and tablet settings buttons ------------------- */

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }

  .copy-btn .btn button {
    width: 50px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }

  #copy-pass-btn {
    margin-left: 10px;
    width: 4rem;
  }
}
